main{
  margin-top: 85px;
  background-color: rgb(115, 115, 115);
  font-family: cursive;
}
.dataSerie h1, .dataSerie p, .dataSerie h3, .dataSerie a {
  color: black;
}
.dataSerie a:hover{
  color:black;
}

.noAvailable{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.listaTemporadas li{
  margin-left: 8px;
}
.listaTemporadas img{
  max-height: 430px;
  width: 100%;
}

article.uk-comment-primary{
  background-color: white;
}

div.form{
  display: flexbox;
  margin-left: 2%;
}

div.uk-margin{
  justify-content: space-around;
  width: 50%;
}

.padre{
  width: 60%;
  padding-left: 220px;
}

.hijo{
  border-style: double;
  border-color: crimson;
}

div.mini{
  justify-content: space-around;
}

button.uk-button-primary{
  justify-content: center;
}

ul.uk-comment-list{
  margin-right: 2%;
}

img{
  border-style: groove;
  border-color: crimson;
  border-radius: 6px;
}