header nav {
	overflow: hidden;
	width: 100%;
	height: 85px;
	background-color: white;
	z-index: 999;
	box-shadow: -2px -2px 5px black, 2px 2px 5px crimson;
	position: fixed;
	top: 0;
	left: 0;
	font-family: cursive;
}

li.menu-item{
	width: 10%;
	justify-content: space-around;
}
	
header nav ul li {
	list-style: none;
	margin-top: -5px;
}
/*header nav ul li.logo img {
  max-width: 250px;
}*/
header nav ul.ul-menu {
	display: flex;
	margin-top: 25px;
}
header nav ul.ul-menu li.menu-item {
	margin-right: 2%;
	text-align: right;
}

header nav ul.ul-menu li.search {
	width: 20%;

}

header nav ul.ul-menu li.li-menu:hover {
	color: gray;
	transition: 1s;
}
header nav ul li a {
	text-decoration: none;
	font-size: 1.25em;
  color: rgb(196, 40, 78);
}
header nav ul li a:hover{
	color: black;
}
