main{
    margin-top: 85px;
}
main.lista{
    margin-top: 310px;
}

div.papi{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

div.mini{
    width: 10%;
    justify-content: center;
}

h1{
    text-align: center;
}

div.grande{
    display: flex;
    justify-content: center;
}

#hola{
    text-align: center;
}

#titulos{
    text-align: center;
}

body.listas{
    background-color: rgb(247, 247, 247);
}