button.uk-button{
    background-color: crimson;
}

button.uk-button:hover {
    background-color: black;
    color: white;
  }
button.uk-button:active {
        background-color: crimson;
  }

body{
    margin-top: 85px;
}