h1{
    font-family: sans-serif !important;
    font-weight: bold;
    text-align: center;
}

h3{
    font-family: sans-serif !important;
}
h3:hover{
    color: crimson !important;
}

button.uk-button-danger{
    background-color: red;
}
