img.avatar{
    float: left;
    margin-left: 4px;
    height: 270px;
    width: 250px;
    border-style: groove;
    border-color: crimson;
    border-radius: 6px;
}

.hijos {
    padding-left: 300px;
    color: black;
    font-family: cursive;
    font-size: 25px;
}

.papi {
    padding: 10px;
    background-color: indianred; 
    opacity: 0.88;
}

.resenias{
    background-color: indianred; 
    opacity: 0.88;
}

  div.papi a:hover {
    color: black;
  }
  div.papi a:active {
    color: blue;
  }

  div.resenias a:hover {
    color: black;
  }
  div.resenias a:active {
    color: blue;
  }

