img.avatar{
    float: left;
    margin-left: 4px;
    height: 270px;
    width: 250px;
}

.hijos {
    padding-left: 300px;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
}

.papi {
    padding: 10px;
}

  div.papi a:hover {
    color: black;
  }
  div.papi a:active {
    color: blue;
  }

  div.resenias a:hover {
    color: black;
  }
  div.resenias a:active {
    color: blue;
  }

  p{
    font-family: sans-serif !important;
  }

  h2{
    font-family: sans-serif !important;
    color: black !important;
  }

