body{
    background-color: lightblue;
    font-family: cursive;
}
h1.titulo{
    text-align: center;
    margin-top: 110px ;
}

div.resultado-usuarios{
    display: flex;
    border: solid;
    border-width: thin;
    border-color: crimson;
    border-radius: 7px;
    padding-left: 20px;
}

div.mini{
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.mini a{
    
    color: black;
    font-size: 22px;
}
div.mini a:hover {
    color: crimson;
  }
  div.mini a:active {
    color: blue;
  }


div.labels{
    display: flex;
    border-style: double;
    margin-bottom: 15px;
    padding-left: 35px;
}

div.mini-labels{
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

