body{
    background-color: rgb(247, 247, 247);
    font-family: sans-serif;
    f
}
h1.titulo{
    text-align: center;
    margin-top: 110px ;
}

div.resultado-usuarios{
    display: flex;
    padding-left: 20px;
}

div.mini{
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.mini a{
    color: black;
}
div.mini a:hover {
    color: crimson;
  }
  div.mini a:active {
    color: blue;
  }


div.labels{
    display: flex;
    margin-bottom: 15px;
    padding-left: 35px;
    font-weight: bold;
    color: crimson;
}

div.mini-labels{
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

