main{
  margin-top: 85px;
  background-color: rgb(115, 115, 115);
}
#resultados div{
  width: 30%;
  text-align: center;
  border: groove crimson;
  border-radius: 6px;
  padding: 1px;
}
#resultados div img{
  width: 100%;
  max-height: 580px;
}
