main{
  margin-top: 85px;
  background-color: rgb(115, 115, 115);
}
main .grilla-series div{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border: groove crimson;
  border-radius: 6px;
}
main .grilla-series div a{
  text-align: center;
  text-decoration: none;

}
