<title>Nerfli</title>
<a href="/series/home">
  <h1>volver a inicio!</h1>
  </a>
<script>
    alert('No llenaste bien el formulario')
  </script>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


