<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerfli</title>

    <link rel="stylesheet" href="/stylesheets/buttonHeader.css">
    <link rel="stylesheet" href="/stylesheets/misReseniasLogin.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
</head>
<!--Include del header-->
<%-include('./partials/header.ejs') %>
<!--Include del header-->
<body>

    <main>
        <br>
        <br>
        <div class="papi">
        <form action="/series/loginreal" method="POST" class="login">
        <h2>Logueate para ver tu reseña!</h2>
        
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" placeholder= "Email" type="text" name="email">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <input class="uk-input uk-form-large" placeholder= "Password" type="password" name="password">
            </div>
        </div>
        
        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">SUBMIT</button>        
        </div>
        </form>
    </div>
    </main> 
</body>
</html>