<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerfli</title>

    <link rel="stylesheet" href="/stylesheets/buttonHeader.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>
</head>
<body>
    <!--Include del header-->
  <%-include('./partials/header.ejs') %>
  <!--Include del header-->
  <main class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://i2.wp.com/wholefully.com/wp-content/uploads/2014/02/movie-theatre-popcorn.jpg" uk-img style= "height: -webkit-fill-available;
  width: -webkit-fill-available; margin: auto ;"> 
    <div style="background-color: indianred; opacity: 0.93;">
    <h1 style="text-align: center;">No se encontraron resultados</h1>
    <a href="/series/usuarios"><h2>Volver</h2></a>
  </div>
  </main>

</body>
</html>