<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>


    <script src="/javascripts/resultadoBusqueda.js" ></script>
  </head>
  <body>
      <!--Include del header-->
      <%-include('./partials/header.ejs') %>
      <!--Include del header-->
    <main>
      <h1>Resultados de la busqueda</h1>

      <div class="uk-section">
        <div class="uk-container">

          <div class="uk-flex uk-flex-row uk-flex-wrap uk-flex-around" id="resultados">

          </div>


        </div>
      </div>
    </main>

  </body>
</html>
