<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerfli</title>

    <link rel="stylesheet" href="/stylesheets/buttonHeader.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>
</head>
  <!--Include del header-->
  <%-include('./partials/header.ejs') %>
  <!--Include del header-->
<body>
    
  <main class="error"> 
    <div class="error">
    <div class="mini"><h1 style="text-align: center;">No se encontraron resultados</h1></div>
    <div class="mini"><a href="/series/usuarios" class="error"><h2 class="error">Volver</h2></a></div>
  </div>
  </main>

</body>
</html>