      <div class="uk-section">
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    
    <link rel="stylesheet" href="/stylesheets/buttonHeader.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/seriesGenres.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/seriesGenres.js" ></script>
  </head>
   <!--Include del header-->
   <%-include('./partials/header.ejs') %>
   <!--Include del header-->
  <body>
   <main>
      <div class="uk-section" >
        <div class="uk-container">
          <ul class="lista-generos">

          </ul>
        </div>
      </div>
    </main>

  </body>
</html>
