<header>
    <nav>
        </ul>
        <ul class="ul-menu">
            <li class="menu-item home"><a class="color-violet" href="/series/home">Inicio</a></li>
            <li class="menu-item"><a class="color-violet" href="/series/generos">Géneros</a></li>
            <li class="menu-item"><a class="color-violet" href="/series/buscador">Buscador</a></li>
            <li class="menu-item"><a class="color-violet" href="/series/login">Registrate</a></li>
            <% if(usuarioLogeado){%>
                <li class="menu-item"><a class="color-violet" href="/series/misReseniasTodas">Mis Reseñas</a></li>
            <%}else{%>
                <li class="menu-item"><a class="color-violet" href="/series/misResenias">Log in</a></li>
            <%}%>
            <li class="menu-item"><a class="color-violet" href="/series/usuarios">Comunidad</a></li>
            <li class="menu-item"><a class="color-violet" href="/series/lista">Reseñas</a></li>
            <li class="menu-item search">
                <form class="" action="/series/resultado" method="GET">
                    <input class="input-search" type="text" name="query" value="" style="border-radius: 15px;
                    border-color: crimson;
                    border-width: 3px;">
                    <button class="btn-search" type="submit">Buscar</button>
                </form>
            </li>

        </ul>
    </nav>
</header>